In [1]:
# !wget https://archive.ics.uci.edu/ml/machine-learning-databases/diabetes/diabetes-data.tar.Z

In [2]:
# !tar xzf diabetes-data.tar.Z

In [3]:
import pandas as pd
import numpy as np
from glob import glob
import datetime
import time

In [4]:
# merge csv files
def merge_files(SOURCE):
  files_list = sorted(glob(SOURCE + '*'))
  df_list = []
  for num, path in enumerate(files_list):
    df = pd.read_csv(path, sep='\t', header=None)
    df['patient'] = num+1
    df_list.append(df)
  df = pd.concat(df_list, join='outer', axis=0, sort=True, ignore_index=True)
  return df

SOURCE = 'Diabetes-Data/data'
df = merge_files(SOURCE)
print(df.shape)
df.head()

(29330, 5)

            0      1   2    3  patient
0  04-21-1991   9:09  58  100        1
1  04-21-1991   9:09  33    9        1
2  04-21-1991   9:09  34   13        1
3  04-21-1991  17:08  62  119        1
4  04-21-1991  17:08  33    7        1

In [5]:
# Drop nulls
df = df.dropna()
print(df.shape)

(29264, 5)

In [6]:
df[2].value_counts()

33    9485
34    3830
58    3518
62    3160
60    2771
48    1883
35    1053
57     990
64     904
65     331
67     326
63     219
66     154
70     139
56     119
71      98
72      94
69      68
61      66
68      34
59      20
36       1
4        1
Name: 2, dtype: int64

In [7]:
codes = """
33 = Regular insulin dose
34 = NPH insulin dose
35 = UltraLente insulin dose
48 = Unspecified blood glucose measurement
57 = Unspecified blood glucose measurement
58 = Pre-breakfast blood glucose measurement
59 = Post-breakfast blood glucose measurement
60 = Pre-lunch blood glucose measurement
61 = Post-lunch blood glucose measurement
62 = Pre-supper blood glucose measurement
63 = Post-supper blood glucose measurement
64 = Pre-snack blood glucose measurement
65 = Hypoglycemic symptoms
66 = Typical meal ingestion
67 = More-than-usual meal ingestion
68 = Less-than-usual meal ingestion
69 = Typical exercise activity
70 = More-than-usual exercise activity
71 = Less-than-usual exercise activity
72 = Unspecified special event
"""

In [8]:
code_dict = {}
for code in codes.split('\n')[1:-1]:
    key,val = code.split(' = ')
    code_dict[int(key)] = val
code_dict

{33: 'Regular insulin dose',
 34: 'NPH insulin dose',
 35: 'UltraLente insulin dose',
 48: 'Unspecified blood glucose measurement',
 57: 'Unspecified blood glucose measurement',
 58: 'Pre-breakfast blood glucose measurement',
 59: 'Post-breakfast blood glucose measurement',
 60: 'Pre-lunch blood glucose measurement',
 61: 'Post-lunch blood glucose measurement',
 62: 'Pre-supper blood glucose measurement',
 63: 'Post-supper blood glucose measurement',
 64: 'Pre-snack blood glucose measurement',
 65: 'Hypoglycemic symptoms',
 66: 'Typical meal ingestion',
 67: 'More-than-usual meal ingestion',
 68: 'Less-than-usual meal ingestion',
 69: 'Typical exercise activity',
 70: 'More-than-usual exercise activity',
 71: 'Less-than-usual exercise activity',
 72: 'Unspecified special event'}

In [9]:
#missing codes
undefined_code = set(code_dict.keys()).symmetric_difference(set(df[2].unique()))
undefined_code

{4, 36, 56}

In [10]:
df[df[2].isin(undefined_code)]

                0      1   2    3  patient
1707   07-21-1990  08:56  56  115        3
1712   07-22-1990  05:56  56  108        3
1722   07-23-1990  05:04  56  110        3
1731   07-24-1990  05:27  56  116        3
1740   07-25-1990  06:24  56  121        3
...           ...    ...  ..  ...      ...
23926  07-11-1990  21:15  56   52       57
23934  07-13-1990  21:53  56  162       57
23935  07-13-1990  21:56  56   91       57
28944  08-24-1990  13:02  56  258       69
28948  08-25-1990  08:00  56  130       69

[121 rows x 5 columns]

In [11]:
df.shape

(29264, 5)

In [12]:
# removing rows with undefined codes
df = df.drop(df[df[2].isin(undefined_code)].index)
df.shape

(29143, 5)

In [13]:
#combine codes that have the same description
df[2] = df[2].replace(48, 57)

In [14]:
# Some Dates are wrong (richmonds code)
for d in df[0]:
    try:
        datetime.datetime.strptime(d, '%m-%d-%Y')
    except:
        print(d)

06-31-1991
06-31-1991
06-31-1991
06-31-1991
06-31-1991
06-31-1991
06-31-1991

In [15]:
df[df[1] =='05-12-1989']

Empty DataFrame
Columns: [0, 1, 2, 3, patient]
Index: []

In [16]:
# Some time are wrong
for t in df[1]:
    try:
        datetime.datetime.strptime(t, '%H:%M')
        
    except:
        print(t)

56:35
56:35
56:35
188:00
188:00

In [17]:
df[df[0] =='06-31-1991']

               0      1   2    3  patient
6505  06-31-1991  07:50  58  149       20
6506  06-31-1991  07:50  33    4       20
6507  06-31-1991  07:50  34   24       20
6508  06-31-1991  13:30  60  162       20
6509  06-31-1991  13:30  33    5       20
6510  06-31-1991  19:45  62  213       20
6511  06-31-1991  19:45  33   11       20

In [18]:
df[df[1].isin(['56:35', '188:00'])]

                0       1   2    3  patient
28070  04-09-1991   56:35  58  237       67
28071  04-09-1991   56:35  33   16       67
28072  04-09-1991   56:35  34   40       67
28171  04-21-1991  188:00  62  128       67
28172  04-21-1991  188:00  33   14       67

In [19]:
#dropping the abnormal values

df = df.drop(df[df[0] =='06-31-1991'].index)
df = df.drop(df[df[1].isin(['56:35', '188:00'])].index)
df.shape

(29131, 5)

In [20]:
# create timestamp feature
df['timestamp'] =df.apply(lambda x: datetime.datetime.strptime(f'{x[0]} {x[1]}', '%m-%d-%Y %H:%M'), axis=1)
df.shape

(29131, 6)

In [21]:
df.dtypes

0                    object
1                    object
2                     int64
3                    object
patient               int64
timestamp    datetime64[ns]
dtype: object

In [22]:
# Determine why df[3] is an object
df[3].unique()

array([100, 9, 13, 119, 7, 123, 216, 10, 2, 211, 257, 11, 129, 239, 14, 4,
       340, 5, 67, 206, 288, 77, 228, 259, 256, 8, 109, 96, 200, 128, 0,
       192, 263, 81, 179, 88, 185, 104, 86, 60, 163, 147, 207, 305, 151,
       85, 133, 63, 183, 282, 91, 229, 121, 251, 135, 87, 255, 343, 97,
       136, 82, 110, 236, 175, 108, 300, 76, 65, 43, 130, 6, 182, 117, 75,
       69, 201, 244, 125, 92, 122, 162, 270, 297, 148, 79, 246, 165, 149,
       232, 312, 115, 180, 295, 15, 220, 64, 94, 273, 240, 217, 187, 3,
       46, 127, 313, 102, 134, 103, 120, 227, 16, 105, 287, 113, 142, 173,
       70, 153, 141, 146, 202, 111, 212, 171, 107, 35, 156, 106, 55, 204,
       74, 233, 194, 159, 164, 72, 139, 68, 262, 126, 152, 66, 269, 184,
       219, 84, 132, 172, 112, 168, 114, 58, 265, 205, 80, 51, 193, 306,
       303, 197, 181, 101, 198, 267, 154, 166, 222, 59, 225, 169, 177,
       145, 61, 271, 258, 89, 188, 191, 226, 158, 178, 189, 203, 195, 261,
       118, 160, 208, 54, 237, 62, 247, 144, 90, 78, 218, 234, 157, 248,
       335, 199, 209, 140, 249, 309, 95, 285, 98, 138, 143, 293, 294, 284,
       170, 283, 253, 272, 1, 174, 155, '149', '010', '116', '004', '304',
       '063', '014', '171', '148', '115', '130', '220', '125', '110',
       '288', '284', '047', '201', '141', '170', '131', '206', '168',
       '176', '263', '344', '012', '248', '006', '146', '247', '124',
       '188', '205', '208', '313', '325', '134', '090', '192', '057',
       '099', '153', '169', '084', '144', '261', '306', '216', '296',
       '094', '212', '249', '209', '174', '182', '150', '070', '253',
       '128', '180', '223', '286', '285', '140', '217', '236', '193',
       '085', '156', '237', '145', '388', '018', '274', '365', '275',
       '0Hi', '008', '137', '166', '127', '173', '225', '184', '262',
       '376', '250', '119', '194', '259', '221', '297', '016', '393',
       '246', '361', '348', '330', '240', '317', '158', '0Lo', '097',
       '175', '147', '251', '160', '196', '224', '269', '167', '279',
       '303', '117', '222', '104', '055', '264', '195', '092', '292',
       '183', '086', '281', '105', '088', '061', '178', '252', '066',
       '191', '239', '235', '142', '326', '307', '300', '364', '254',
       '273', '276', '238', '226', '108', '197', '133', '053', '101',
       '011', '282', '245', '071', '185', '161', '179', '203', '065',
       '121', '163', '067', '106', '056', '072', '143', '302', '164',
       '049', '154', '138', '228', '052', '190', '155', '069', '159',
       '265', '093', '346', '187', '109', '036', '305', '255', '126',
       '243', '219', '198', '257', '260', '162', '199', '139', '311',
       '315', '074', '356', '177', '210', '040', '272', '113', '114',
       '080', '129', '075', '118', '215', '339', '132', '107', '241',
       '095', '098', '266', '091', '152', '204', '181', '186', '278',
       '089', '211', '271', '301', 238, 124, 161, 53, 73, 42, 210, 50,
       301, 49, 39, 44, 190, 22, 83, 278, 116, 41, 291, 298, 38, 241, 56,
       223, 214, 213, 319, 341, 137, 57, 230, 221, 280, 31, 331, 254, 260,
       365, 242, 167, 346, 275, 393, 360, 231, 47, 131, 296, 18, 224, 320,
       292, 252, 316, 328, 274, 250, 17, 266, 93, 349, 215, 339, 71, 329,
       268, 431, 281, 26, 276, 384, 286, 352, 317, 336, 289, 279, 342,
       350, 324, 45, 12, 387, 322, 400, 176, 245.0, 302.0, 150.0, 6.5,
       277.0, 327.0, 2.5, 371.0, 3.5, 235.0, 4.5, 243.0, 290.0, 7.5,
       196.0, 399.0, 36, 52, 311, 34, 308, 20, 48, 37, 407, 32, 436, 359,
       357, 186, 33, 338, 40, 461, 376, 299, 419, 30, 314, 354, 332, 330,
       264, 24, 364, 29, 23, 348, 28, 347, 318, 392, 368, 334, 323, 411,
       422, 373, 337, 380, 99, 325, 370, 326, 353, 363, 405, 450, 389,
       379, 361, 463, 423, 355, 362, 410, 383, 19, 358, 394, 452, 372,
       381, 351, 333, 374, '120', '083', '102', '076', '064', '112',
       '045', '077', '103', '122', '068', '111', '135', '050', '079',
       '165', '213', '230', '062', '073', '058', '048', '151', '078',
       '082', '081', '060', '096', '051', '054', '100', '214', '087',
       '280', '189', '007', '172', '136', '123', '044', '059', '157',
       '043', 321, '041', '042', '003', '258', '005', '202', '327', '244',
       '200', '207', '218', '020', '231', '227', '234', 25, 27, 304, 315,
       403, 391, '015', '009', '035', '000', '378', '013', "0''", '037',
       '017', '295', '359', 404, 345, 397, 401, 367, 501, 385, 455, 307,
       310, 421, 377, 366, 21, 437, 430, 434, 499, 476, 382, 440, 442,
       402, 356, 444, 412, 413, 414, 448, 344, 408, 417, 390, 426, 369,
       416, 375, 388, 424, 415, 398, 428, 406, 487, 435, 1.5, 378.0],
      dtype=object)

In [23]:
# feature has int, float, str, and some non usable values
# Changing to numerical values
df[3] = pd.to_numeric(df[3], errors='coerce')

In [24]:
# number of resulting NaNs
df[3].isnull().sum()

8

In [25]:
df.shape

(29131, 6)

In [26]:
df = df.dropna()
df.shape

(29123, 6)

In [27]:
df.dtypes

0                    object
1                    object
2                     int64
3                   float64
patient               int64
timestamp    datetime64[ns]
dtype: object

In [28]:
df[0] = pd.to_datetime(df[0], format='%m-%d-%Y')

In [29]:
df.dtypes

0            datetime64[ns]
1                    object
2                     int64
3                   float64
patient               int64
timestamp    datetime64[ns]
dtype: object

In [30]:
df.describe()

                  2             3       patient
count  29123.000000  29123.000000  29123.000000
mean      47.038320     79.130258     36.490300
std       13.629464     93.453944     20.117226
min       33.000000      0.000000      1.000000
25%       33.000000      6.000000     21.000000
50%       57.000000     22.000000     34.000000
75%       60.000000    141.000000     55.000000
max       72.000000    501.000000     70.000000

In [31]:
df.describe(exclude='number')

                          0      1            timestamp
count                 29123  29123                29123
unique                 1140   1291                14649
top     1990-09-19 00:00:00  08:00  1989-04-07 08:00:00
freq                    126   3100                   15
first   1988-03-27 00:00:00    NaN  1988-03-27 08:00:00
last    1991-09-23 00:00:00    NaN  1991-09-23 21:10:00

In [32]:
my_list = sorted(set(df[3]))

In [33]:
my_list

[0.0,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 191.0,
 192.0,
 193.0,
 194.0,
 195.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 230.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 239.0,
 240.0,
 241.0,
 242.0,
 243.0,
 244.0,
 245.0,
 246.0,
 247.0,
 248.0,
 249.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 255.0,
 256.0,
 257.0,
 258.0,
 259.0,
 260.0,
 261.0,
 262.0,
 263.0,
 264.0,
 265.0,
 266.0,
 267.0,
 268.0,
 269.0,
 270.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 276.0,
 277.0,
 278.0,
 279.0,
 280.0,
 281.0,
 282.0,
 283.0,
 284.0,
 285.0,
 286.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 294.0,
 295.0,
 296.0,
 297.0,
 298.0,
 299.0,
 300.0,
 301.0,
 302.0,
 303.0,
 304.0,
 305.0,
 306.0,
 307.0,
 308.0,
 309.0,
 310.0,
 311.0,
 312.0,
 313.0,
 314.0,
 315.0,
 316.0,
 317.0,
 318.0,
 319.0,
 320.0,
 321.0,
 322.0,
 323.0,
 324.0,
 325.0,
 326.0,
 327.0,
 328.0,
 329.0,
 330.0,
 331.0,
 332.0,
 333.0,
 334.0,
 335.0,
 336.0,
 337.0,
 338.0,
 339.0,
 340.0,
 341.0,
 342.0,
 343.0,
 344.0,
 345.0,
 346.0,
 347.0,
 348.0,
 349.0,
 350.0,
 351.0,
 352.0,
 353.0,
 354.0,
 355.0,
 356.0,
 357.0,
 358.0,
 359.0,
 360.0,
 361.0,
 362.0,
 363.0,
 364.0,
 365.0,
 366.0,
 367.0,
 368.0,
 369.0,
 370.0,
 371.0,
 372.0,
 373.0,
 374.0,
 375.0,
 376.0,
 377.0,
 378.0,
 379.0,
 380.0,
 381.0,
 382.0,
 383.0,
 384.0,
 385.0,
 387.0,
 388.0,
 389.0,
 390.0,
 391.0,
 392.0,
 393.0,
 394.0,
 397.0,
 398.0,
 399.0,
 400.0,
 401.0,
 402.0,
 403.0,
 404.0,
 405.0,
 406.0,
 407.0,
 408.0,
 410.0,
 411.0,
 412.0,
 413.0,
 414.0,
 415.0,
 416.0,
 417.0,
 419.0,
 421.0,
 422.0,
 423.0,
 424.0,
 426.0,
 428.0,
 430.0,
 431.0,
 434.0,
 435.0,
 436.0,
 437.0,
 440.0,
 442.0,
 444.0,
 448.0,
 450.0,
 452.0,
 455.0,
 461.0,
 463.0,
 476.0,
 487.0,
 499.0,
 501.0]

In [34]:
df.head()

           0      1   2      3  patient           timestamp
0 1991-04-21   9:09  58  100.0        1 1991-04-21 09:09:00
1 1991-04-21   9:09  33    9.0        1 1991-04-21 09:09:00
2 1991-04-21   9:09  34   13.0        1 1991-04-21 09:09:00
3 1991-04-21  17:08  62  119.0        1 1991-04-21 17:08:00
4 1991-04-21  17:08  33    7.0        1 1991-04-21 17:08:00

In [35]:
dfpiv = df.pivot_table(index=['patient','timestamp'], columns=2, values=3)
dfpiv

2                              33    34  35     57     58  59  60  61     62  \
patient timestamp
1       1991-04-21 09:09:00   9.0  13.0 NaN    NaN  100.0 NaN NaN NaN    NaN
        1991-04-21 17:08:00   7.0   NaN NaN    NaN    NaN NaN NaN NaN  119.0
        1991-04-21 22:51:00   NaN   NaN NaN  123.0    NaN NaN NaN NaN    NaN
        1991-04-22 07:35:00  10.0  13.0 NaN    NaN  216.0 NaN NaN NaN    NaN
        1991-04-22 13:40:00   2.0   NaN NaN    NaN    NaN NaN NaN NaN    NaN
...                           ...   ...  ..    ...    ...  ..  ..  ..    ...
70      1989-05-08 22:00:00   NaN   NaN NaN  145.0    NaN NaN NaN NaN    NaN
        1989-05-09 08:00:00   1.0   7.0 NaN    NaN  259.0 NaN NaN NaN    NaN
        1989-05-10 08:00:00   NaN   7.0 NaN    NaN    NaN NaN NaN NaN    NaN
        1989-05-11 08:00:00   NaN   7.0 NaN    NaN    NaN NaN NaN NaN    NaN
        1989-05-12 08:00:00   NaN   7.0 NaN    NaN    NaN NaN NaN NaN    NaN

2                            63  64  65  66  67  68  69  70  71  72
patient timestamp
1       1991-04-21 09:09:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        1991-04-21 17:08:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        1991-04-21 22:51:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        1991-04-22 07:35:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        1991-04-22 13:40:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
...                          ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
70      1989-05-08 22:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        1989-05-09 08:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        1989-05-10 08:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        1989-05-11 08:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
        1989-05-12 08:00:00 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

[18203 rows x 19 columns]

In [36]:
dfpiv = dfpiv.rename(columns=code_dict)
dfpiv

2                            Regular insulin dose  NPH insulin dose  \
patient timestamp
1       1991-04-21 09:09:00                   9.0              13.0
        1991-04-21 17:08:00                   7.0               NaN
        1991-04-21 22:51:00                   NaN               NaN
        1991-04-22 07:35:00                  10.0              13.0
        1991-04-22 13:40:00                   2.0               NaN
...                                           ...               ...
70      1989-05-08 22:00:00                   NaN               NaN
        1989-05-09 08:00:00                   1.0               7.0
        1989-05-10 08:00:00                   NaN               7.0
        1989-05-11 08:00:00                   NaN               7.0
        1989-05-12 08:00:00                   NaN               7.0

2                            UltraLente insulin dose  \
patient timestamp
1       1991-04-21 09:09:00                      NaN
        1991-04-21 17:08:00                      NaN
        1991-04-21 22:51:00                      NaN
        1991-04-22 07:35:00                      NaN
        1991-04-22 13:40:00                      NaN
...                                              ...
70      1989-05-08 22:00:00                      NaN
        1989-05-09 08:00:00                      NaN
        1989-05-10 08:00:00                      NaN
        1989-05-11 08:00:00                      NaN
        1989-05-12 08:00:00                      NaN

2                            Unspecified blood glucose measurement  \
patient timestamp
1       1991-04-21 09:09:00                                    NaN
        1991-04-21 17:08:00                                    NaN
        1991-04-21 22:51:00                                  123.0
        1991-04-22 07:35:00                                    NaN
        1991-04-22 13:40:00                                    NaN
...                                                            ...
70      1989-05-08 22:00:00                                  145.0
        1989-05-09 08:00:00                                    NaN
        1989-05-10 08:00:00                                    NaN
        1989-05-11 08:00:00                                    NaN
        1989-05-12 08:00:00                                    NaN

2                            Pre-breakfast blood glucose measurement  \
patient timestamp
1       1991-04-21 09:09:00                                    100.0
        1991-04-21 17:08:00                                      NaN
        1991-04-21 22:51:00                                      NaN
        1991-04-22 07:35:00                                    216.0
        1991-04-22 13:40:00                                      NaN
...                                                              ...
70      1989-05-08 22:00:00                                      NaN
        1989-05-09 08:00:00                                    259.0
        1989-05-10 08:00:00                                      NaN
        1989-05-11 08:00:00                                      NaN
        1989-05-12 08:00:00                                      NaN

2                            Post-breakfast blood glucose measurement  \
patient timestamp
1       1991-04-21 09:09:00                                       NaN
        1991-04-21 17:08:00                                       NaN
        1991-04-21 22:51:00                                       NaN
        1991-04-22 07:35:00                                       NaN
        1991-04-22 13:40:00                                       NaN
...                                                               ...
70      1989-05-08 22:00:00                                       NaN
        1989-05-09 08:00:00                                       NaN
        1989-05-10 08:00:00                                       NaN
        1989-05-11 08:00:00                                       NaN
        1989-05-12 08:00:00                                       NaN

2                            Pre-lunch blood glucose measurement  \
patient timestamp
1       1991-04-21 09:09:00                                  NaN
        1991-04-21 17:08:00                                  NaN
        1991-04-21 22:51:00                                  NaN
        1991-04-22 07:35:00                                  NaN
        1991-04-22 13:40:00                                  NaN
...                                                          ...
70      1989-05-08 22:00:00                                  NaN
        1989-05-09 08:00:00                                  NaN
        1989-05-10 08:00:00                                  NaN
        1989-05-11 08:00:00                                  NaN
        1989-05-12 08:00:00                                  NaN

2                            Post-lunch blood glucose measurement  \
patient timestamp
1       1991-04-21 09:09:00                                   NaN
        1991-04-21 17:08:00                                   NaN
        1991-04-21 22:51:00                                   NaN
        1991-04-22 07:35:00                                   NaN
        1991-04-22 13:40:00                                   NaN
...                                                           ...
70      1989-05-08 22:00:00                                   NaN
        1989-05-09 08:00:00                                   NaN
        1989-05-10 08:00:00                                   NaN
        1989-05-11 08:00:00                                   NaN
        1989-05-12 08:00:00                                   NaN

2                            Pre-supper blood glucose measurement  \
patient timestamp
1       1991-04-21 09:09:00                                   NaN
        1991-04-21 17:08:00                                 119.0
        1991-04-21 22:51:00                                   NaN
        1991-04-22 07:35:00                                   NaN
        1991-04-22 13:40:00                                   NaN
...                                                           ...
70      1989-05-08 22:00:00                                   NaN
        1989-05-09 08:00:00                                   NaN
        1989-05-10 08:00:00                                   NaN
        1989-05-11 08:00:00                                   NaN
        1989-05-12 08:00:00                                   NaN

2                            Post-supper blood glucose measurement  \
patient timestamp
1       1991-04-21 09:09:00                                    NaN
        1991-04-21 17:08:00                                    NaN
        1991-04-21 22:51:00                                    NaN
        1991-04-22 07:35:00                                    NaN
        1991-04-22 13:40:00                                    NaN
...                                                            ...
70      1989-05-08 22:00:00                                    NaN
        1989-05-09 08:00:00                                    NaN
        1989-05-10 08:00:00                                    NaN
        1989-05-11 08:00:00                                    NaN
        1989-05-12 08:00:00                                    NaN

2                            Pre-snack blood glucose measurement  \
patient timestamp
1       1991-04-21 09:09:00                                  NaN
        1991-04-21 17:08:00                                  NaN
        1991-04-21 22:51:00                                  NaN
        1991-04-22 07:35:00                                  NaN
        1991-04-22 13:40:00                                  NaN
...                                                          ...
70      1989-05-08 22:00:00                                  NaN
        1989-05-09 08:00:00                                  NaN
        1989-05-10 08:00:00                                  NaN
        1989-05-11 08:00:00                                  NaN
        1989-05-12 08:00:00                                  NaN

2                            Hypoglycemic symptoms  Typical meal ingestion  \
patient timestamp
1       1991-04-21 09:09:00                    NaN                     NaN
        1991-04-21 17:08:00                    NaN                     NaN
        1991-04-21 22:51:00                    NaN                     NaN
        1991-04-22 07:35:00                    NaN                     NaN
        1991-04-22 13:40:00                    NaN                     NaN
...                                            ...                     ...
70      1989-05-08 22:00:00                    NaN                     NaN
        1989-05-09 08:00:00                    NaN                     NaN
        1989-05-10 08:00:00                    NaN                     NaN
        1989-05-11 08:00:00                    NaN                     NaN
        1989-05-12 08:00:00                    NaN                     NaN

2                            More-than-usual meal ingestion  \
patient timestamp
1       1991-04-21 09:09:00                             NaN
        1991-04-21 17:08:00                             NaN
        1991-04-21 22:51:00                             NaN
        1991-04-22 07:35:00                             NaN
        1991-04-22 13:40:00                             NaN
...                                                     ...
70      1989-05-08 22:00:00                             NaN
        1989-05-09 08:00:00                             NaN
        1989-05-10 08:00:00                             NaN
        1989-05-11 08:00:00                             NaN
        1989-05-12 08:00:00                             NaN

2                            Less-than-usual meal ingestion  \
patient timestamp
1       1991-04-21 09:09:00                             NaN
        1991-04-21 17:08:00                             NaN
        1991-04-21 22:51:00                             NaN
        1991-04-22 07:35:00                             NaN
        1991-04-22 13:40:00                             NaN
...                                                     ...
70      1989-05-08 22:00:00                             NaN
        1989-05-09 08:00:00                             NaN
        1989-05-10 08:00:00                             NaN
        1989-05-11 08:00:00                             NaN
        1989-05-12 08:00:00                             NaN

2                            Typical exercise activity  \
patient timestamp
1       1991-04-21 09:09:00                        NaN
        1991-04-21 17:08:00                        NaN
        1991-04-21 22:51:00                        NaN
        1991-04-22 07:35:00                        NaN
        1991-04-22 13:40:00                        NaN
...                                                ...
70      1989-05-08 22:00:00                        NaN
        1989-05-09 08:00:00                        NaN
        1989-05-10 08:00:00                        NaN
        1989-05-11 08:00:00                        NaN
        1989-05-12 08:00:00                        NaN

2                            More-than-usual exercise activity  \
patient timestamp
1       1991-04-21 09:09:00                                NaN
        1991-04-21 17:08:00                                NaN
        1991-04-21 22:51:00                                NaN
        1991-04-22 07:35:00                                NaN
        1991-04-22 13:40:00                                NaN
...                                                        ...
70      1989-05-08 22:00:00                                NaN
        1989-05-09 08:00:00                                NaN
        1989-05-10 08:00:00                                NaN
        1989-05-11 08:00:00                                NaN
        1989-05-12 08:00:00                                NaN

2                            Less-than-usual exercise activity  \
patient timestamp
1       1991-04-21 09:09:00                                NaN
        1991-04-21 17:08:00                                NaN
        1991-04-21 22:51:00                                NaN
        1991-04-22 07:35:00                                NaN
        1991-04-22 13:40:00                                NaN
...                                                        ...
70      1989-05-08 22:00:00                                NaN
        1989-05-09 08:00:00                                NaN
        1989-05-10 08:00:00                                NaN
        1989-05-11 08:00:00                                NaN
        1989-05-12 08:00:00                                NaN

2                            Unspecified special event
patient timestamp
1       1991-04-21 09:09:00                        NaN
        1991-04-21 17:08:00                        NaN
        1991-04-21 22:51:00                        NaN
        1991-04-22 07:35:00                        NaN
        1991-04-22 13:40:00                        NaN
...                                                ...
70      1989-05-08 22:00:00                        NaN
        1989-05-09 08:00:00                        NaN
        1989-05-10 08:00:00                        NaN
        1989-05-11 08:00:00                        NaN
        1989-05-12 08:00:00                        NaN

[18203 rows x 19 columns]

In [39]:
print(dfpiv['Typical exercise activity'].notna().sum())
print(dfpiv['More-than-usual exercise activity'].notna().sum())
print(dfpiv['Less-than-usual exercise activity'].notna().sum())

68
139
98

In [41]:
print(dfpiv['Regular insulin dose'].notna().sum())
print(dfpiv['NPH insulin dose'].notna().sum())
print(dfpiv['UltraLente insulin dose'].notna().sum())

9469
3821
1053